<% if false %>
<h1> My applications </h1>

<ul>
    <% @current_tenant.rental_applications.each do |rental_app| %>
        <li> <%= rental_app.apartment.address %> - $<%= rental_app.apartment.rent_amount %> <%= button_to "Delete", rental_app%></li>
    <% end %>
</ul>

<%= button_to "Main menu", welcome_index_path, method: :get %> <br/>

<% end %>