<h1> Main Menu </h1>
<br>
<%= button_to "My Applications", rental_applications_path, :class => "btn btn-outline-info", method: :get %><br>
<%= button_to "Profile", profile_path, :class => "btn btn-outline-info", method: :get%><br>
<%= button_to "Create an application", neighborhoods_path, :class => "btn btn-outline-info", method: :get %> 



